main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

button {
  background-color: red;
  color: white;
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  animation: bounceRight 2s ease-in-out infinite;
}
.shadow {
  background-color: gray;
  color: white;
  border: none;
  height: 10px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  animation: shadowAnimation 2s ease-in-out infinite;
}

/* Bounce Animation */
@keyframes bounceRight {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  50% {
    transform: translateX(0) translateY(-270px) scale(1.1, 0.9);
  }
}

/* shadow Animation */
@keyframes shadowAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.1);
  }
}
